* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: #fee466;
}

body {
  background-image: url("https://raw.githubusercontent.com/Nikara4/SW_W9_T1_React_context/main/public/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: 50vh;
}

/* .navbar {
} */

.main {
  width: 80%;
  position: absolute;
  top: 15px;
  left: 80px;
}

.main--img {
  margin-top: 25px;
  width: 80%;
}

.main--title {
  font-size: 24px;
}

.main--title__h2 {
  font-size: 22px;
  font-weight: normal;
}

.movies {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.movies--p {
  display: block;
  margin: 10px auto;
  font-size: 44px;
}

.movies--video {
  margin: 50px 25px;
}

.form {
  width: 40%;
  height: 500px;
  margin: 25vh auto;
  text-align: center;
}

.form--label {
  display: block;
  margin: 70px 0;
  font-size: 60px;
}

.form--input {
  width: 60%;
  min-height: 10%;
  padding: 0 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #fee466;
  color: #fee466;
}

.form--button {
  margin: 50px;
  padding: 10px 30px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: 2px solid black;
  transition: 0.3s;
}

.form--button:hover {
  background-color: #fee466;
  border: 2px solid black;
  color: black;
}

.nav {
  max-width: 17vw;
  height: 100vh;
  background-color: #2060ab;
  text-align: left;
}

.nav--ul {
  list-style: none;
}

.nav--li {
  padding: 15px;
}

.nav--link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.nav--link:hover {
  text-decoration: underline;
}

.nav--icon__desktop {
  margin-right: 10px;
  font-size: 1.6rem;
}

.nav--icon__mobile {
  margin-left: 10px;
  font-size: 2rem;
}
