* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.content {}

.content--div{}

.content--p {}

.content--img {}

.form {
  width: 500px;
  height: 500px;
  margin:25vh auto;
  border: black 1px solid;
text-align: center;
}

.form--label{
  display: block;
  margin: 70px 0;
  font-size: 40px;
}

.form--input{
  width: 80%;
  min-height: 10%;
  padding: 0 20px;
  font-size: 16px;
}

.form--button{
  margin: 50px;
  padding: 10px 30px;
  font-size: 24px;
}
